
# jenkins opentxs-tests script
# install apt repos
# getting the build numbers ahead of time prevents possible 
# concurrency issue, from using lastSuccessfulBuild links more than once
OPENTXS_JOB=opentxs
NOTARY_JOB=opentxs-notary
REPO_FILE=/etc/apt/sources.list.d/opentxs.list

> $REPO_FILE # zero it

OPENTXS_BUILD=`curl $JENKINS_URL/job/$OPENTXS_JOB/lastSuccessfulBuild/buildNumber`
NOTARY_BUILD=`curl $JENKINS_URL/job/$NOTARY_JOB/lastSuccessfulBuild/buildNumber`

cat << EOF >> $REPO_FILE
deb [arch=amd64] $JENKINS_URL/job/$OPENTXS_JOB/$OPENTXS_BUILD/CXX=g++/artifact/debian /
deb [arch=amd64] $JENKINS_URL/job/$NOTARY_JOB/$NOTARY_BUILD/CXX=g++/artifact/debian /
EOF

# install latest
sudo apt-get update
sudo apt-get remove -y opentxs*
sudo apt-get install -y --force-yes opentxs*
# workaround for permissions issue in deb
sudo chmod -R 755 /usr/lib/x86_64-linux-gnu/python3.4


cd python3
. ~/.virtualenvs/opentxs/bin/activate
pip3 install -Ur requirements.txt
./runtests.py -v --junitxml=junit-report.xml

-DPYTHON_EXECUTABLE=/usr/bin/python3 \
